.club-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    font-size: 1.4rem;
    color: #666;
    text-decoration: none;
  }

}

.club-list__img {
  width: 35px;
}