/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Responsiveness
// -------------------------
// 'true' is default
//  setting this creates extra responsive classes targetting defined breakpoints
//  eg the 'visually-hidden' mixin
$responsive:        true !default;


// Typography
// -------------------------

$font-family-sans:              Helvetica, Arial, sans-serif !default;
$font-family-serif:             Georgia, 'Times New Roman', Times, serif !default;
$font-family-mono:              Monaco, Menlo, Consolas, 'Courier New', monospace !default;


$font-family-title:             $font-family-serif !default;
$font-family-base:              $font-family-sans !default;
$font-family-alt:               $font-family-sans !default;

// Let's set the base font size to 62.5% (10px) for easier calculations
$base-font-size:   62.5%;
$base-line-height: 1.5 !default;

$body-font-desktop: 1.6rem; // = 16px
$body-font-mobile:  1.4rem; // = 14px

// Breakpoints
// -------------------------

// Named breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Suggestion - provide a minimum/maximum so media queries don't overlap when required
// use as max/min values for mixins for responsive utilities etc

$xs-min: 0;
$xs-max: ($breakpoint-sm - 1);

$sm-min: $breakpoint-sm;
$sm-max: ($breakpoint-md - 1);

$md-min: $breakpoint-md;
$md-max: ($breakpoint-lg - 1);

$lg-min: $breakpoint-lg;
$lg-max: ($breakpoint-xl - 1);

$xl-min: $breakpoint-xl;


// Paths
// -------------------------

// Path to images folder
// $images: /Static/images;

// Path to fonts folder
// $fonts: /fonts;


// Colors
// -------------------------

// Base colors
$white: #fff;
$black: #000;

$grey-dark: #666;
$grey-light: #ddd;
$grey-lighter: #eee;

$blue: #4777b7;
$purple: #7d1f71;
$green: #298700;
$red: #db1731;
$orange: #d08300;
$yellow: #ff9;

// Brand colors
$brand-colour-1: $orange;

// Text colors
$color-text:     #333;
$color-headings: #333;
$color-error:    #eee;

// Link colors
$color-link-active:    #c00;
$color-link-visited:   #c00;
$color-link-hover:     #333;
$color-link-focus:     #d4d4d4;
$color-link-disabled:  #d4d4d4;


// Borders
// -------------------------

// Border colors
$color-border:          $grey-light;
$color-border-dark:     $grey-dark;
$color-border-light:    $grey-lighter;

//  Border styling
$border-radius:         5px;
$border-width:          1px;
$border-style:          solid;
$border-color:          $color-border;

$border:                $border-width $border-style $border-color;


// Default projext transitions
$transition-speed: 0.4s;
$transition-easing: ease;

// some different speed variables
$transition-speed-slow: 1.2s;
$transition-speed-medium: 0.8s;
$transition-speed-fast: 0.2s;



// z-index scale (private vars)
// Do not edit the z-index scale!
// --------------------------------------------------
$z-index-1:   100;
$z-index-2:   200;
$z-index-3:   300;
$z-index-4:   400;
$z-index-5:   500;
$z-index-6:   600;
$z-index-7:   700;
$z-index-8:   800;
$z-index-9:   900;
$z-index-10: 1000;



// z-index master list
// Add application scoped z-index values as variables.
// Group elements by layer to enable easy determination of relative layering of disconnected elements
// REALLY useful for someone unfamiliar with your project!
// --------------------------------------------------------------------------------------------------

$z-index-modal-backdrop:        $z-index-1;
//$z-index-some-other element:  $z-index-1; // some other element on the same relative layer

$z-index-modal:                 $z-index-2; // a higher layer than its background

$z-index-modal-dialog:          $z-index-3;

$z-index-cookie-policy:         $z-index-4; // will always appear above modals



